<!DOCTYPE html>
<html>
	<head>
		<title>Purchase Prediction</title>
	</head>
	<body>
		<h1><div style="text_allign:center"><font color="blue">Predicting the Image</font></div></h1>
		<hr>
		<p>This is a DEEP LEARNING ANN MODEL,It is trained for identifying certain type of things* with the accuracy of 50%
		</br>
		<h2><div style="text_allign:center"><font color="Red">Enter the image below to predict its name</font></div></h2>
		</br>
		<div class='container'>
			<div class='row'>
				<div class='col-2'>
					<form method="POST" action="/predict" enctype="multipart/form-data">
					Select Image to upload:
					<input type="file" name="file" id="file" accept="image/*"/>               
					<input class='btn btn-primary' type="submit" value="Upload Image"/>
					</form>
				</div>
			</div>
			<hr>
			<h3>*The image should be of any one of the following item only:<font color="Brown">Plane,Car,Truck,Cat,Dog,Frog,Deer,Horse,Ship,Bird</font></h3> 
		</div>
	</body>
</html>
