<!DOCTYPE html>
<html>
        <head>
                <title>Final Result For Image Prediction</title>
        </head>
        <body>
		<h1><div style="text-align:center"><font color="blue">Prediction Result</font></div></h1>
		<hr>
		<div class="card text-center" style="width:21.5em;margin:0 auto;">
			<div class="card-body">
				<p class="card text"><h1><font color="blue">{{prediction}}</font></h1></p>
			</div>
		</div>
		<hr>
		<hr>
		<p>As the model is trained for 50% accuracy only, So there are 50% chances of it getting the right prediction</p>
	</body>
</html>



